
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <% const date = new Date() %>
    <p>Copyright &copy <%= date.getFullYear() %></p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
</body>
</html>
